<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-lg-10 offset-1">
        <h4 class="mb-3">{{#if editMode}}
            Modificar informacion del empleado
          {{else}} Agregar nuevo empleado {{/if}}
        </h4>

        <form action= {{#if editMode}}"/edit"{{else}}"/add-employee"{{/if}} method="POST">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="Nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="Nombre"
                name="Nombre"
                {{#if editMode}} value="{{item.Nombre}}" {{/if}}
                required
              />
            </div>

            <div class="col-sm-6">
              <label for="Apellido" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="Apellido"
                name="Apellido"
                {{#if editMode}} value="{{item.Apellido}}" {{/if}}
                required
              />
            </div>

            <div class="col-sm-3">
              <label for="Cedula" class="form-label">Cedula
              </label>
              <input
                type="text"
                class="form-control"
                id="Cedula"
                name="Cedula"
                placeholder="xxx-xxxxxxx-x"
               {{#if editMode}} value="{{item.Cedula}}"{{/if}}
                required
              />

            </div>
            <div class="col-sm-6">
              <label for="Email" class="form-label">Email
              </label>
              <input
                type="email"
                class="form-control"
                id="Email"
                name="Email"
                placeholder="you@example.com"
               {{#if editMode}}  value="{{item.Email}}"{{/if}}
                required
              />
            </div>
            <div class="col-sm-3">
              <label for="Edad" class="form-label">Edad
              </label>
              <input
                type="number"
                class="form-control"
                id="Edad"
                name="Edad"
                placeholder="18-80"
                max="80"
                min="18"
               {{#if editMode}}  value="{{item.Edad}}"{{/if}}
                required
              />
            </div>

            <div class="col-sm-4">
              <label for="Telefono" class="form-label">Telefono
              </label>
              <input
                type="tel"
                class="form-control"
                id="Telefono"
                name="Telefono"
                placeholder="xxx-xxx-xxxx"
               {{#if editMode}}  value="{{item.Telefono}}"{{/if}}
                required
              />
            </div>

            <div class="col-sm-4">
              <label for="Sexo" class="form-label">Genero
              </label>
              <select class="form-select" name="Genero" required>
                {{#if editMode}}
                <option selected value="Masculino">Masculino</option>
                <option value="Femenino">Masculino</option>
                <option value="Masculino">Femenino</option>
                 {{else}} 
                 <option selected value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>                 
                 {{/if}}

              </select>
            </div>

            <div class="col-sm-4">
              <label for="Nacionalidad" class="form-label">Nacionalidad
              </label>
              <input
                type="text"
                class="form-control"
                id="Nacionalidad"
                name="Nacionalidad"
               {{#if editMode}} value="{{item.Nacionalidad}}"{{/if}}
                required
              />
            </div>

            <div class="col-12">
              <label for="Direccion" class="form-label">Direccion</label>
              <input
                type="text"
                class="form-control"
                id="Direccion"
                name="Direccion"
               {{#if editMode}} value="{{item.Direccion}}"{{/if}}
                required
              />
            </div>

            <div class="row g-3">

              <div class="col-4">
                <label for="Departamento" class="form-label">Departamento</label>
                <select name="DepartmentId" class="form-select" id="DepartmentId" required>

                  {{#if editMode}} <option selected value={{item.department.dataValues.Id}}>{{item.department.dataValues.Nombre}} </option> {{/if}}
                  
                 {{#if hasDepartment}}
                  {{#each department}}
                     <option  value={{this.Id}}>{{this.Nombre}} </option>
                  {{/each}}
                 {{else}}

                 {{/if}}
                </select>
              </div>

              <div class="col-4">
                <label for="Cargo" class="form-label">Cargo</label>
                <select name="CargoId" class="form-select" id="CargoId" required>
                 {{#if editMode}} <option selected value={{item.position.dataValues.Id}}>{{item.position.dataValues.Nombre}} </option> {{/if}}

                 {{#if hasPosition}}
                  {{#each position}}
                    <option value={{this.Id}}>{{this.Nombre}} </option>
                  {{/each}}
                 {{else}}

                 {{/if}}
                </select>

                <!--  -->
              </div>

              {{#if editMode}}

              {{else}}
                <div class="col-4">
                  <label for="Sueldo" class="form-label">Sueldo</label>
                  <input
                    type="number"
                    class="form-control"
                    id="Sueldo"
                    name="Sueldo"
                    required
                    min="10000"
                    max="1000000"
                  />
              </div>

              {{/if}}
  

              <div class="d-flex justify-content-center">
                <button class="btn btn-success me-2" type="submit">{{#if editMode}}Editar{{else}}Agregar{{/if}}
                  </button>
                <a class="btn btn-secondary" type="button" href={{#if editMode}}"/admin-employee"{{else}}"/index"{{/if}} >Atras</a>
              </div>

              {{#if editMode}} <input type="hidden" name="Id" value="{{item.Id}}">{{/if}}

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>