<main>

  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/admin-options" class="btn btn-success my-2">Admin-options</a>
      </div>
    </div>
  </section>

  <section class="text-center container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Departamento</th>
              <th scope="col">Cargo</th>
              <th scope="col">Genero</th>
              <th scope="col">Ingreso Bruto</th>
              <th scope="col">Sueldo Anual</th>
              <th scope="col">AFP 2.87</th>
              <th scope="col">ISR </th>
              <th scope="col">SFS 3.04</th>
              <th scope="col">Total Descuentos</th>
              <th scope="col">Neto</th>

            </tr>
          </thead>
          <tbody class="table-group-divider">
            {{#if hasItems}}
              {{#each item}}
                <tr>
                  <td>{{this.Nombre}} {{this.Apellido}} </td>
                  <td>{{this.Departamento}} </td>
                  <td>{{this.Cargo}} </td>
                  <td>{{this.Genero}} </td>
                  <td> {{this.Sueldo}}</td>
                  <td> {{ANUAL this.Sueldo}}</td>
                  <td> {{AFP this.Sueldo}}</td>
                  <td> {{ISR this.Sueldo}}</td>
                  <td> {{SFS this.Sueldo}}</td>
                  <td> {{Descuentos this.Sueldo}}</td>
                  <td> {{SueltoNeto this.Sueldo}} </td>
                </tr>
              {{/each}}
            {{/if}}

          </tbody>
        </table>

      </div>
    </div>

  </section>

</main>