<main>

  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/admin-options" class="btn btn-success my-2">Volver a opciones</a>
      </div>
    </div>
  </section>

  <section class="text-center container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Departamento</th>
              <th scope="col">Cargo</th>
              <th scope="col">Ingreso Bruto</th>
              <th scope="col">Sueldo Anual</th>
              <th scope="col">AFP 2.87</th>
              <th scope="col">ISR </th>
              <th scope="col">SFS 3.04</th>
              <th scope="col">Neto</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody class="table-group-divider">
            {{#if hasItems}}
              {{#each item}}
                <form action="/admin-nomina" method="post">
                  <tr>
                    <td>{{this.Nombre}} {{this.Apellido}} </td>
                    <td>{{this.department.dataValues.Nombre}} </td>
                    <td>{{this.position.dataValues.Nombre}} </td>
                    <td>
                      <input
                        class="form-control"
                        required
                        type="number"
                        name="Sueldo"
                        id="Sueldo"
                        value="{{this.Sueldo}}"
                        min="10000"
                        max="1000000"
                      /></td>

                    <td> {{ANUAL this.Sueldo}} </td>
                    <td> {{AFP this.Sueldo}}</td>
                    <td> {{ISR this.Sueldo}}</td>
                    <td> {{SFS this.Sueldo}}</td>
                    <td> {{SueltoNeto this.Sueldo}} </td>
                    <td>
                      <button
                        class="btn btn-outline-primary"
                        type="submit"
                      >Aplicar</button></td>
                  </tr>

                  <input type="hidden" name="Id" id="Id" value="{{this.Id}}" />

                </form>
              {{/each}}
            {{/if}}

          </tbody>
        </table>

      </div>
    </div>

  </section>

</main>