<main>
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="py-4 bg-light">
      <div class="container">
        <div
          class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-2 justify-content-center"
        >
          <div class="col-md-8 col-sm-12 text-center">
            <div class="card shadow-lg text-dark">
              <div class="card-body">
                <p class="card-title fs-5 fw-bold">
                  {{item.Nombre}}
                  {{item.Apellido}}
                </p>
                <hr />

                <div class="d-flex justify-content-evenly">
                  <p class="card-text">
                    <span class="fw-bold">Departamento:</span>
                    {{item.department.dataValues.Nombre}}
                  </p>
                  <p class="card-text">
                    <span class="fw-bold">Cargo: </span>
                    {{item.position.dataValues.Nombre}}
                  </p>
                  <p class="card-text">
                    <span class="fw-bold">Sueldo: </span>
                    RD$
                    {{Sueldo item.Sueldo}}
                  </p>
                </div>
                <hr />

                <div class="d-flex justify-content-evenly">
                  <p class="card-text">
                    <span class="fw-bold">Cedula: </span>
                    {{item.Cedula}}
                  </p>

                  <p class="card-text">
                    <span class="fw-bold">Nacionalidad: </span>
                    {{item.Nacionalidad}}
                  </p>

                  <p class="card-text">
                    <span class="fw-bold">Genero: </span>
                    {{item.Genero}}
                  </p>
                  <p class="card-text">
                    <span class="fw-bold">Edad: </span>
                    {{item.Edad}}
                  </p>
                </div>
                <hr />

                <div class="d-flex justify-content-evenly">
                  <p class="card-text"><span class="fw-bold">Email:
                    </span>
                    {{item.Email}}</p>
                  <p class="card-text">
                    <span class="fw-bold">Telefono: </span>
                    {{item.Telefono}}
                  </p>
                </div>
                <hr />

                <p class="card-text">
                  <span class="fw-bold">Direccion: </span>
                  {{item.Direccion}}
                </p>
                <hr />

                <div class="d-flex justify-content-evenly">
                  <p class="card-text"><span class="fw-bold">Fecha de Ingreso:
                    </span>
                    {{item.createdAt}}
                  </p>

                  <p class="card-text"><span class="fw-bold">Sueldo:
                    </span>
                    {{Sueldo item.Sueldo}}
                  </p>

                  <p class="card-text"><span class="fw-bold">¿Esta de
                      vacaciones?
                    </span>
                    {{#if item.isVacaciones}} Si {{else}} No {{/if}}
                  </p>
                </div>
                <hr />

                {{#if item.isVacaciones}}
                  <div class="d-flex justify-content-evenly">
                    <p class="card-text"><span class="fw-bold">Inicio de
                        vacaciones:
                      </span>
                      {{item.StartVacaciones}}
                    </p>
                    <p class="card-text"><span class="fw-bold">Fin de las
                        vacaciones:
                      </span>
                      {{item.EndVacaciones}}
                    </p>
                  </div>
                  <hr />
                {{/if}}

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-success" href="/index">volver al listado</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>