<main>

  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/admin-options" class="btn btn-success my-2">Admin-options</a>
      </div>
    </div>
  </section>

  <section class="text-center container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Cedula</th>
              <th scope="col">Departamento</th>
              <th scope="col">Cargo</th>
              <th scope="col">Sueldo</th>
              <th scope="col">Vacaciones</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody class="table-group-divider">
            {{#if hasItems}}
              {{#each item}}
                <tr>
                  <td>{{this.Nombre}} {{this.Apellido}} </td>
                  <td>{{this.Cedula}} </td>
                  <td>{{this.Departamento}} </td>
                  <td>{{this.Cargo}} </td>
                  <td>RD$ {{this.Sueldo}} </td>
                  <td>{{#if this.Vacaciones}}
                      <i class="fa fa-umbrella-beach"> </i>
                    {{else}}
                      <i class="fa-solid fa-person-digging"></i>
                    {{/if}}
                  </td>
                  <form action="/vacation-manager" method="post">

                    <input type="hidden" name="Id" value="{{this.Id}}" />
                    <input
                      type="hidden"
                      name="Vacaciones"
                      value="{{validate this.Vacaciones}}"
                    />

                    <td>{{#if this.Vacaciones}}
                        <button type="submit" class="btn btn-danger">Desactivar
                          Vacaciones</button>
                      {{else}}
                        <button type="submit" class="btn btn-primary">Activar
                          Vacaciones</button>
                      {{/if}}
                    </td>

                  </form>

                </tr>
              {{/each}}
            {{/if}}

          </tbody>
        </table>

      </div>
    </div>

  </section>

</main>