<main>
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/add-employee" class="btn btn-success my-2">Crear nuevo
          empleado</a>
        <a href="/admin-options" class="btn btn-secondary my-2">Administrar</a>

      </div>
    </div>
  </section>

  <section>
    <div class="py-4 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
          {{#if hasItems}}
            {{#each item}}
              <div class="col">
                <div class="card shadow-lg text-dark">

                  <div class="card-body">
                    <p class="card-title fs-5 fw-bold">{{this.Nombre}}
                      {{this.Apellido}}
                    </p>
                    <p class="fw-bold gradient">
                      {{#if this.Vacaciones}}
                        <i class="fa fa-umbrella-beach"> Vacaciones</i>
                      {{else}}
                        <i class="fa-solid fa-person-digging">Activo</i>{{/if}}
                    </p>
                    <p class="card-text">
                      <span class="fw-bold">Departamento:</span>
                      {{this.Departamento}}</p>
                    <p class="card-text">
                      <span class="fw-bold">Cargo: </span>
                      {{this.Cargo}}</p>
                    <p class="card-text"><span class="fw-bold">Email:
                      </span>{{this.Email}}</p>
                    <p class="card-text"><span class="fw-bold">Fecha de Ingreso:
                      </span>
                      {{this.createdAt}}</p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <a
                          class="btn btn-success"
                          type="submit"
                          href="/details/{{this.Id}}"
                        >ver mas</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <h2 class="text-center">Employees not found</h2>
          {{/if}}
        </div>
      </div>
    </div>
  </section>

</main>