<main>
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-2 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/add-employee" class="btn btn-success my-2 {{#if activeBtn}}active{{else}}disabled{{/if}}">Nuevo
          Empleado</a>
        <a href="/add-department" class="btn btn-success my-2">Nuevo
          Departamento</a>
        <a href="/add-position" class="btn btn-success my-2">Nueva Posicion</a>
        <a href="/admin-options" class="btn btn-secondary my-2">Administracion</a>   
      </div>
    </div>
  </section>

  <section>
    <div class="py-4 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
          {{#if hasItems}}
            {{#each item}}
              <div class="col">
                <div class="card shadow-lg text-dark">

                  <div class="card-body">
                    <p
                      class="card-title fs-5 fw-bold text-center"
                    >{{this.Nombre}}
                      {{this.Apellido}}
                    </p>

                    <p class="card-text">
                      <span class="fw-bold">Departamento:</span>
                      {{this.department.dataValues.Nombre}}</p>
                    <p class="card-text">
                      <span class="fw-bold">Cargo: </span>
                      {{this.position.dataValues.Nombre}}</p>

                    <p class="card-text"><span class="fw-bold">Fecha de Ingreso:
                      </span>
                      {{this.createdAt}}</p>
                    
                      <div class="d-flex flex-row gap-3">
                        <a
                          class="btn btn-success"
                          type="submit"
                          href="/details/{{this.Id}}"
                        ><i class="fa-sharp fa-solid fa-plus"></i></a>
                      </div>

                       {{#if this.isVacaciones}}
                        <hr />
                        <h4>Vacaciones</h4>
                        <div class="d-flex flex-row gap-3">
                            <p class="card-text"><span class="fw-bold">Desde
                              </span>
                              {{this.StartVacaciones}}
                            </p>
                            <p class="card-text"><span class="fw-bold">Hasta
                              </span>
                              {{this.EndVacaciones}}
                            </p>
                        </div>

                    {{/if}}
                      
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <h4 class="text-justify">La Empresa no ha registrado Empleados, para 
              crear empleados asegurese de tener almenos un Departamento y un Cargo
              Para asignar a sus empleados. <i class="fa-regular fa-face-smile fa-spin fa-spin-reverse"></i>
            </h4>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</main>